html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Futura-LightOblique";
  src: url("../font/7b2e53745f6918756f98da4091dc3257.eot");
  src: url("../font/7b2e53745f6918756f98da4091dc3257.eot?#iefix") format("embedded-opentype"), url("../font/7b2e53745f6918756f98da4091dc3257.woff2") format("woff2"), url("../font/7b2e53745f6918756f98da4091dc3257.woff") format("woff"), url("../font/7b2e53745f6918756f98da4091dc3257.ttf") format("truetype"), url("../font/7b2e53745f6918756f98da4091dc3257.svg#Futura-LightOblique") format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: 'bonvenocflight';
  src: url("../font/BonvenoCF-Light-webfont.eot");
  src: url("../font/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/BonvenoCF-Light-webfont.woff2") format("woff2"), url("../font/BonvenoCF-Light-webfont.woff") format("woff"), url("../font/BonvenoCF-Light-webfont.ttf") format("truetype"), url("../font/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

* a {
  text-decoration: none;
}

#Home,
#Cennik,
#Offer {
  background: #fff;
}

#Gestalt,
#AboutMe {
  background: #f3e8f3;
}

#Kontakt {
  background: #ffffff;
}

.navbar-brand {
  color: #000000 !important;
}

.navbar .navbar-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: none;
}

.navbar-nav {
  margin-right: 0;
}

.navbar {
  opacity: 0.9;
}

.navbar .navbar-collapse {
  text-align: center;
  height: 100%;
}

ul {
  float: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  list-style: none;
}

ul li {
  margin-right: 50px;
}

ul li a {
  font-size: 20px;
  font-weight: bold;
}

#lines {
  width: 50px;
  height: 18px;
  padding-right: 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#photo-homepage, #photo-contact, #photo-gestalt, #photo-offer, #photo-price {
  padding: 0;
}

#info-homepage {
  margin-top: 13%;
  width: 100%;
}

#home-name {
  font-size: 5vw;
  color: #3e4241;
  margin-top: 40%;
  margin-left: 20%;
  text-align: left;
}

#home-des {
  color: #6e6e6e;
  font-size: 1.5vw;
  margin-left: 20%;
  text-align: left;
}

#home-text {
  font-size: 16px;
  color: #3e4241;
  margin: 10% 20% 20% 20%;
  text-align: left;
  line-height: 30px;
}

#des-services {
  margin: 20% 10% 0 10%;
  line-height: 30px;
}

#info-services {
  margin: 20% 20% 0 20%;
  font-size: 17px;
  color: #6e6e6e;
}

#info-services span {
  font-size: 24px;
  color: #3e4241;
}

#Read_more {
  margin: 10% 0 20% 10%;
  background-color: #d4acd4;
  height: 43px;
  width: 195px;
  color: #3e4241;
}

#buttons {
  padding: 10px 0 0 75px;
}

#info-contact {
  margin-top: 13%;
  margin-bottom: 10%;
}

#info-text {
  margin: 0 18% 0 18%;
  font-size: 35px;
  color: #3e4241;
  line-height: 30px;
}

#info-adress,
#info-phone {
  margin: 5% 18% 0 18%;
  color: #3e4241;
  font-size: 20px;
}

#info-phone {
  margin-bottom: 20%;
}

#lines1 {
  width: 70px;
  height: 18px;
}

#main-footer {
  text-align: center;
  background-color: #574a5b;
  color: #fff;
  height: 40px;
  font-size: 14px;
  padding-top: 10px;
}

.gestalt-name, .price-name {
  font-size: 22px;
  padding-top: 8%;
}

#info-gestalt p {
  margin: 4% 9% 0 9%;
  line-height: 30px;
}

#info-gestalt {
  margin-top: 40px;
}

#cennik-name, #info1-price {
  font-size: 22px;
  margin-top: 15%;
}

#info-cennik p {
  padding: 2% 10%;
  line-height: 30px;
}

.gestalt-name {
  font-size: 24px;
  padding-top: 2%;
}

#info-price p, ul {
  margin: 10% 10% 0 10%;
  line-height: 30px;
}

@media screen and (max-width: 1600px) {
  .gestalt-name {
    margin-left: 5%;
  }
}

@media screen and (max-width: 1400px) {
  .gestalt-name {
    font-size: 19px;
  }
  #info-gestalt p {
    margin: 0 1% 2% 1%;
  }
}

@media screen and (max-width: 1220px) {
  .gestalt-name {
    font-size: 19px;
  }
  #info-gestalt p {
    margin: 0 1% 2% 1%;
    font-size: 15px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    opacity: 1;
  }
  .navbar-collapse {
    padding-left: 20%;
  }
  #photo-homepage, #photo-contact, #photo-offer, #photo-gestalt {
    max-width: 60%;
    max-height: 60%;
  }
  #photo-homepage img, #photo-contact img, #photo-offer img, #photo-gestalt img {
    margin-left: 35%;
    margin-top: 20%;
  }
  #home-text {
    margin: 10%;
  }
  #home-name {
    margin-top: 6%;
    font-size: 20px;
  }
  #photo-price {
    display: none;
  }
  #photo-offer, #photo-homepage {
    margin-top: 10%;
  }
  #info-text, #contact_me {
    margin: 2% 5% 0 5%;
  }
  #info-adress, #info-phone {
    margin: 2% 5% 5% 5%;
    text-align: center;
  }
  #home-des {
    font-size: 3vw;
  }
  #info-services {
    font-size: 13px;
    margin: 10% 10% 0 10%;
  }
  #des-services {
    font-size: 13px;
    line-height: 25px;
    margin-top: 20%;
  }
  #info-phone, #info-adress, #info-text {
    text-align: center;
    font-size: 16px;
  }
  #info-price p, ul {
    margin: 20% 5% 5% 5%;
    line-height: 30px;
  }
  #Read_more {
    margin-left: 35%;
  }
  #info-services {
    display: none;
  }
  #cennik-name {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #Read_more {
    margin-left: 25%;
  }
}

@media screen and (max-width: 410px) {
  #info-services {
    display: none;
  }
  #Read_more {
    margin-left: 20%;
    margin-top: 10%;
  }
  #info-gestalt p {
    padding: 2% 10%;
  }
  #lines {
    width: 45px;
    height: 10px;
  }
}
/*# sourceMappingURL=main.css.map */