$font-family:"Futura-LightOblique";
@import "../css/colors.scss";
@import "../css/fonts.scss";
* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    a{
        text-decoration: none;
    }
    
}

#nav{
    height: 90px; 
}
#Home,
#Kontakt,
#Cennik {
    background: $primary-color-background;
}

#Gestalt,#Offer {
    background: $secondary-color-background;
}
#Gestalt, #Cennik{
    display: none;
}

section {
    width: 100%;
    height: 900px;
    float: left;
}

///      NAVBAR       ///
nav {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1;
    background-color: $secondary-color-background;
    opacity: 0.6;
}

nav>ul {
    float: right;
    width: fit-content;
    margin: auto;
    list-style: none;
    li {
        float: left;
        margin-top: 30px;
        margin-right: 65px;
        a {
            color: $color-text-navbar;
            font-size: 20px;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

///////////////////////
#info-homepage {
    margin-top: 230px;
}

#info-contact {
    margin-top: 200px;
}

#home-name {
    font-size: 100px;
    color: $primary-color-fonts;
    margin-left: 150px;
    text-align: left;
}

#home-des {
    color: $secondary-color-fonts;
    font-size: 24px;
    margin-left: 150px;
    text-align: left;
}

#photo-homepage {
    background-image: url(../img/home-picture.jpg);
}

#photo-contact {
    background-image: url(../img/contact-bacground.jpg);
    
    max-height: 100%;
}

#contact_me {
    margin-left: 150px;
    font-size: 24px;
    text-align: left;
    color: $secondary-color-fonts;
}

#info-text {
    margin: 40px 150px 0 150px;
    font-size: 16px;
    color: $secondary-color-fonts;
    text-align: left;
    line-height: 30px;
}

#home-text {
    font-size: 16px;
    color: $secondary-color-fonts;
    margin: 100px 150px 0 150px;
    text-align: left;
    line-height: 30px;
}

#info-adress,
#info-phone {
    margin: 40px 150px 0 150px;
    color: $primary-color-fonts;
    font-size: 16px;
    text-align: left;
}

.info {
    width: 50%;
    float: right;
    text-align: justify;
}

.photo {
    width: 50%;
    height: 900px;
    float: left;
    background-size: 800px;
    background-repeat: no-repeat;
}
#main-footer {
    text-align: center;
    margin-top: 900px;
    background-color: $color-footer;
    color: #fff;
    height:35px; 
    font-size: 14px;
    padding-top: 15px;
}
    
// SECTION SERVICES
#services1,#services2{
  
    color: $primary-color-fonts;
    
    text-align: left;
    width: 50%;
    height: 900px;
    
}
#services1{
    float: left;
    font-size: 24px;
}
#services2{
    float: right;
    font-size: 16px;
}
#info-services, #des-services{
    margin: 300px 150px 0 150px;
    line-height: 30px;
}
#Read_more{
    margin-left: 150px;
    margin-top: 30px;
    background-color: darken($secondary-color-background,18%);
    height: 43px;
    width: 195px;
    color: $primary-color-fonts;
}
#buttons{
    padding: 10px 0 0 60px;
}

#lines{
    width: 50px;
    height: 18px;
    padding-right: 15px;
}

#photo-gestalt{
    background-image: url(../img/gestalt-photo1.jpg);
}
#photo-cennik{
    background-image: url(../img/gestalt-photo2.jpg);
    float: right;
}
.gestalt-name{
    font-size: 22px;
    padding-top: 100px;
}
#info-gestalt p{
    margin: 0 150px 0 150px;
    line-height: 30px;
}
#info-cennik{
    float: left;
}
#cennik-name{
    font-size: 22px;
    margin-top: 150px;
}
#info-cennik p{
    padding: 20px 150px 0 150px;
    line-height: 30px;
}
