@font-face {
  font-family: "Futura-LightOblique";
  src: url("../font/7b2e53745f6918756f98da4091dc3257.eot");
  src: url("../font/7b2e53745f6918756f98da4091dc3257.eot?#iefix") format("embedded-opentype"), url("../font/7b2e53745f6918756f98da4091dc3257.woff2") format("woff2"), url("../font/7b2e53745f6918756f98da4091dc3257.woff") format("woff"), url("../font/7b2e53745f6918756f98da4091dc3257.ttf") format("truetype"), url("../font/7b2e53745f6918756f98da4091dc3257.svg#Futura-LightOblique") format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: 'bonvenocflight';
  src: url("../font/BonvenoCF-Light-webfont.eot");
  src: url("../font/BonvenoCF-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/BonvenoCF-Light-webfont.woff2") format("woff2"), url("../font/BonvenoCF-Light-webfont.woff") format("woff"), url("../font/BonvenoCF-Light-webfont.ttf") format("truetype"), url("../font/BonvenoCF-Light-webfont.svg#bonvenocflight") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Futura-LightOblique";
}

* a {
  text-decoration: none;
}

#nav {
  height: 90px;
}

#Home,
#Kontakt,
#Cennik {
  background: #fff;
}

#Gestalt, #Offer {
  background: #D5E1DF;
}

section {
  width: 100%;
  height: 900px;
  float: left;
}

header {

  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/header.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header.jpg);

  height: 100vh;
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
}

h1 {
  color: #fff;
  font-size: 300%;
  padding-top: 270px;
  padding-left: 130px;
  word-spacing: 4px;
  margin-bottom: 20px;
  margin-top: 0px;
  letter-spacing: 1px;
}

h2 {
  font-size: 120%;
  word-spacing: 2px;
  letter-spacing: 1px;
  padding-left: 130px;
}

.btn:link,
.btn:visited {
  border-radius: 200px;
  text-decoration: none;
  font-weight: 300;
  margin-top: 20px;
  padding: 10px 30px;
  display: inline-block;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  color: #fff;
  margin-left: 130px;
  background: #8b6891;
  border: 1px solid #8b6891;
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #8b6891;
  border: 1px solid #8b6891;
}

.btn:hover,
.btn:active {
  background: #694e6d;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #694e6d;
}

.btn-ghost:hover,
.btn-ghost:active {
  color: #fff;
  border: 1px solid #694e6d;
}

nav {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 1;
  background-color: #D5E1DF;
  opacity: 0.6;
}

nav > ul {
  float: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  list-style: none;
}

nav > ul li {
  float: left;
  margin-top: 30px;
  margin-right: 65px;
}

nav > ul li a {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

nav > ul li a:hover {
  text-decoration: underline;
}

#info-homepage {
  margin-top: 230px;
}

#info-contact {
  margin-top: 200px;
}

#home-name {
  font-size: 100px;
  color: #3e4241;
  margin-left: 150px;
  text-align: left;
}

#home-des {
  color: #6e6e6e;
  font-size: 24px;
  margin-left: 150px;
  text-align: left;
}

#photo-homepage {
  background-image: url(../img/home-picture.jpg);
}

#photo-contact {
  background-image: url(../img/contact-bacground.jpg);
  max-height: 100%;
}

#contact_me {
  margin-left: 150px;
  font-size: 24px;
  text-align: left;
  color: #6e6e6e;
}

#info-text {
  margin: 40px 150px 0 150px;
  font-size: 16px;
  color: #6e6e6e;
  text-align: left;
  line-height: 30px;
}

#home-text {
  font-size: 16px;
  color: #6e6e6e;
  margin: 100px 150px 0 150px;
  text-align: left;
  line-height: 30px;
}

#info-adress,
#info-phone {
  margin: 40px 150px 0 150px;
  color: #3e4241;
  font-size: 16px;
  text-align: left;
}

.info {
  width: 50%;
  float: right;
  text-align: justify;
}

.photo {
  width: 50%;
  height: 900px;
  float: left;
  background-size: 800px;
  background-repeat: no-repeat;
}

#main-footer {
  text-align: center;
  margin-top: 900px;
  background-color: #424746;
  color: #fff;
  height: 35px;
  font-size: 14px;
  padding-top: 15px;
}

#services1,
#services2 {
  color: #3e4241;
  text-align: left;
  width: 50%;
  height: 900px;
}

#services1 {
  float: left;
  font-size: 24px;
}

#services2 {
  float: right;
  font-size: 16px;
}

#info-services,
#des-services {
  margin: 300px 150px 0 150px;
  line-height: 30px;
}

#Read_more {
  margin-left: 150px;
  margin-top: 30px;
  background-color: #9fbbb6;
  height: 43px;
  width: 195px;
  color: #3e4241;
}

#buttons {
  padding: 10px 0 0 60px;
}

#lines {
  width: 50px;
  height: 18px;
  padding-right: 15px;
}

#photo-gestalt {
  background-image: url(../img/gestalt-photo1.jpg);
}

#photo-cennik {
  background-image: url(../img/gestalt-photo2.jpg);
  float: right;
}

.gestalt-name {
  font-size: 22px;
  padding-top: 100px;
}

#info-gestalt p {
  margin: 0 150px 0 150px;
  line-height: 30px;
}

#info-cennik {
  float: left;
}

#cennik-name {
  font-size: 22px;
  margin-top: 150px;
}

#info-cennik p {
  padding: 20px 150px 0 150px;
  line-height: 30px;
}
/*# sourceMappingURL=main.css.map */